body{
    font-family: 'PT Sans', sans-serif;
    margin-top: 30px;
}
.Heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}
h1{
    font-size: 60px;
}
.side-border{
    border-left: solid 4px rgb(255, 0, 43) ;
    line-height: 35px;
    padding-left: 20px;
}

.half-wdt{
    width: 80%;
    padding-left: 5%;
    padding-top: 3%;
}
.half-wdt img{
    width: 50%;
    padding-left: 28%;
    padding-top: 4%;
}
.scrl-p{
    padding-left: 5%;
}
.link-button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 20;
    text-decoration: none;
    background-color: rgb(243, 76, 57);
    background-image: linear-gradient(orange, orangered  );
    padding: 10px 16px;
    border-radius: 10px;
    color: white;
    text-align: left;
}
.red-clr{
    color: red;
}
.grn-clr{
    color: rgb(0, 167, 0);
}
.org-clr{
    color: orangered
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.blue-clr{
    color: rgb(20, 40, 95);
}
h2{
    font-size: 40px;
}
.small-fnt{
    font-size: 14px;
}
#scnd-title{
    text-align:center;
}
.bg-clr-one{
    background-color: rgba(229, 252, 252, 0.705);
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
    border:1px solid whitesmoke;
    padding-left: 40px;
    padding-right: 30px;
    margin: 0px 20px 40px;
}
.bg-clr-two{
    background-color: rgba(211, 211, 211, 0.712);
    background-size: cover;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
    border:1px solid whitesmoke;
    padding-left: 40px;
    padding-right: 30px;
    margin: 0px 20px 40px;
}
.bg-clr-three{
    background-color: rgba(253, 208, 215, 0.562);
    background-size: cover;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
    border:1px solid whitesmoke;
    padding-left: 40px;
    padding-right: 30px;
    margin: 0px 20px 40px;
}
.nBg-img{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.marg-left{
    margin-left: 4%;
    margin-top: 5%;

}
.txt-middle{
    text-align: left;
    margin-top: 120px;
}
.ending{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
footer{
    text-align: center;
}